.first-screen {
  padding-bottom: 96px;
  padding-top: 80px;
  background: linear-gradient(
      0deg,
      rgba(15, 18, 43, 0.71),
      rgba(15, 18, 43, 0.71)
    ),
    linear-gradient(
      130.97deg,
      rgba(131, 55, 255, 0.2) 15.7%,
      rgba(255, 138, 0, 0.2) 50.08%,
      rgba(254, 226, 3, 0.2) 81.6%
    ),
    url("../img/bg.jpg") no-repeat center center;
  background-size: cover;
  background-position: 43% 10%;
  @include media($screen-tablet-large) {
    min-height: 90vh;
    background: linear-gradient(
        0deg,
        rgba(15, 18, 43, 0.71),
        rgba(15, 18, 43, 0.71)
      ),
      linear-gradient(
        130.97deg,
        rgba(131, 55, 255, 0.2) 15.7%,
        rgba(255, 138, 0, 0.2) 50.08%,
        rgba(254, 226, 3, 0.2) 81.6%
      ),
      url("../img/bg.jpg") no-repeat center center;
    background-size: cover;
  }
  &__logo-link {
    display: inline-block;
    margin-bottom: 30px;
  }
  &__title-wrapper {
    position: relative;
    img {
      position: absolute;
      width: 177px;
      height: 136px;
      right: 132px;
      top: -56px;
      z-index: 0;
      display: none;
      @include media($screen-tablet) {
        display: initial;
      }
    }
  }
  &__title {
    font-size: 38px;
    line-height: 50px;
    margin-bottom: 60px;
    text-transform: uppercase;
    font-family: $title-font;
    font-weight: 700;
    position: relative;
    z-index: 100;
    text-align: center;
    span {
      display: block;
    }
    @include media($screen-tablet) {
      span {
        display: inline;
      }
    }
    @include media($screen-tablet-large) {
      font-size: 48px;
    }
  }
  &__subtitle {
    font-family: $subtitle-font;
    font-weight: 300;
    font-size: 28px;
    color: rgba(255, 255, 255, 0.92);
    text-shadow: 6px 4px 2px rgba(0, 0, 0, 0.2);
    letter-spacing: 2px;
    &._mb {
      margin-bottom: 70px;
    }
    @include media($screen-tablet) {
      font-size: 38px;
    }
    @include media($screen-tablet-large) {
      font-size: 48px;
    }
  }
  &__text {
    @include text($H240, 600, $N0);
    margin-bottom: 20px;
    text-align: center;
    @include media($screen-tablet) {
      @include text($H300, 600, $N0);
      margin-bottom: 35px;
      text-align: left;
    }
  }
  &__wrapper {
    width: 100%;
    @include flex-col(center, center);
  }
  .button {
    width: 100%;
    @include media($screen-tablet) {
      width: initial;
    }
  }
}
