.footer {
  padding: 60px 0 0;
  position: relative;
  overflow: hidden;
  &__camels {
    position: absolute;
    // left: -159px;
    right: 0;
    bottom: 0;
    min-width: 200%;
    z-index: 0;
    pointer-events: none;
    width: 100%;
    @include media($screen-tablet) {
      min-width: 100%;
      left: 0;      
    }
  }
  &__gradient {
    background: linear-gradient(
      359.89deg,
      #ff8a00 27.3%,
      rgba(27, 31, 61, 0) 94.36%
    );
  }
  &__title {
    font-family: $title-font;
    @include text($H220, 700, $N100);
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  &__text {
    @include text($H60, 500, #e9eaf3);
    margin-bottom: 20px;
    line-height: 21px;
    position: relative;
    z-index: 100;
    &._mb {
      margin-bottom: 40px;
    }
  }
  &__btn {
    position: relative;
    z-index: 100;
    margin-bottom: 16px;
  }
  &__right {
    padding: 0 0 61px;
    @include flex-row(space-between);
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    z-index: 100;
    margin-bottom: 100px;
    @include media($screen-tablet-large) {
      padding: 0 0 61px;
      margin-bottom: 0;
    }
  }
  &__wrapper {
    @include flex-col();
    width: 100%;
    @include media($screen-tablet) {
      width: initial;
    }
  }
  &__help {
    padding-top: 300px;
    font-family: $title-font;
    @include text($H220, 400, $N0);
    margin-bottom: 10px;
    display: none;
    @include media($screen-tablet-large) {
      display: block;
    }
  }
  &__center {
    @include flex-col(center, center);
    width: 100%;
    padding-bottom: 30px;
    position: relative;
    z-index: 100;
  }
  &__link {
    font-family: inherit;
    @include text($H50, 700, #ffc34e);
    margin-bottom: 10px;
    @include transition;
    &:last-child {
      margin-bottom: 0;
    }
    &:hover {
      color: darken($color: #ffc34e, $amount: 10%);
      text-decoration: none;
    }
  }
}
