/* ---COLORS--- */

// Naturel
$N0: #ffffff;
$N10: #414141;
$N20: #1f1d1d;
$N100: #000;

// red
$R10: #ea345d;
$R20: #d41b45;
$R30: #ea345d;

// blue
$B10: #043f76;
$B20: #4879a7;
$B30: #124e86;

//yellow
$Y10: #ff8a00;

//green
$G10: #00e067;

@function px_to_rem($target, $context: $base-size) {
  @if $target==0 {
    @return 0;
  }

  @return $target / $context + 0rem;
}

$base-size: 16px;

/* ---FONT SIZE--- */
$H480: px_to_rem(48px);
$H360: px_to_rem(36px);
$H330: px_to_rem(33px);
$H300: px_to_rem(30px);
$H280: px_to_rem(28px);
$H260: px_to_rem(26px);
$H240: px_to_rem(24px);
$H220: px_to_rem(22px);
$H200: px_to_rem(20px);
$H90: px_to_rem(19px);
$H80: px_to_rem(18px);
$H70: px_to_rem(17px);
$H60: px_to_rem(16px);
$H50: px_to_rem(15px);
$H40: px_to_rem(14px);
$H30: px_to_rem(13px);
$H20: px_to_rem(12px);
$H10: px_to_rem(11px);
$H0: px_to_rem(10px);
$H9: px_to_rem(9px);

/* Screens */
// $screen-iphone-6: 375px;
// $screen-iphone-plus: 414px;
// $screen-tablet-small: 480px;
// $screen-tablet: 768px;
// $screen-tablet-large: 860px;
// $screen-netbook: 960px;
// $screen-desktop: 1024px;
// $screen-desktop-large: 1280px;
// $screen-hd: 1366px;
// $screen-fullhd: 1440px;
// $screen-retina: 1660px;

// FONTS

@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap");
@font-face {
  font-family: "Gooseberry Juice";
  src:
    url("../assets/fonts/Gooseberry\ Juice.woff.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

$main-font: "Work Sans", sans-serif;
$sec-font: "Roboto", sans-serif;
$title-font: "Gooseberry Juice", sans-serif;

// padding left-right
$px: 3%;
